@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;600&display=swap');

:root {
    --prim-Red: hsl(0, 78%, 62%);
    --prim-Cyan: hsl(180, 62%, 55%);
    --prim-Orange: hsl(34, 97%, 64%);
    --prim-Blue: hsl(212, 86%, 64%);

    --nue-Ver-Dark-Blue: hsl(234, 12%, 34%);
    --neu-Grayish-Blue: hsl(229, 6%, 66%);
    --neu-Very-Light-Gray: hsl(0, 0%, 98%);
}

/* top section*/

body {
    background-color: var(--neu-Very-Light-Gray);
    font-family: 'poppins', sans-serif;
}

main {
    min-height: 100vh;
}

.section-top {
    height: 300px;
    text-align: center;
}

h1, p {
    color: var(--neu-Grayish-Blue);
    margin:20px 0 0 40px;
}

h2 {
    margin: 0 0 0 40px;
}

h4 {
   color: var(--nue-Ver-Dark-Blue);
}



/*Bottom section*/

.bottom-section {
    display: flex;
    margin-top: 20px;
}

.sub-bottom-section {
    display: flex;
    margin: 0 auto;
}

.supervisor {
    height: 300px;
    width: 400px;
    margin-right: 20px;
    border-top: 2px solid var(--prim-Cyan);
    box-shadow: 1px 1px 1px 1px gray;
}

.mix-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-builder {
    height: 300px;
    width: 400px;
    margin-top: -100px;
    border-top: 2px solid var(--prim-Red);
    box-shadow: 1px 1px 1px 1px gray;
}

.karma {
    height: 300px;
    width: 400px;
    border-top: 2px solid var(--prim-Orange);
    box-shadow: 1px 1px 1px 1px gray;
}

.calculator {   
    height: 300px;
    width: 400px;
    margin-left: 20px;
    border-top: 2px solid var(--prim-Cyan);
    box-shadow: 1px 1px 1px 1px gray;
}

.img-icon {
    float: right;
    margin: 0 30px 60px 0;
}

footer {
    margin-top: 50px;
    text-align: center;
}